.planet {
  border-collapse: collapse;
  background-color: white;
  border: 1px solid black;
}

.planet>tbody>tr {
  height: 32px;
}

.planet>tbody>tr>td {
  border: 1px solid black;
  width: 64px;
  max-width: 64px;
}

.cell {
  width: 100%;
}

.cell>tbody>tr>td {
  width: 49%;
  height: 26px;
  border: 0 !important;
  background-size: cover;
}

/* for building/unit tooltip */
.cell>tbody>tr>td:after {
  padding: 2px;
  display: none;
  position: fixed;
  bottom: 8px;
  right: 8px;
  background-color: #fef4c5;
  border: 1px solid #d4b943;
}

.cell>tbody>tr>td:hover::after {
  display: inline-block;
}

#image_tests td::after {
  display: none;
}
/* tooltip end */

.planet .belongs {
  height: 19px;
}

.planet .name {
  overflow: hidden;
}

.planet .affinities, .planet .resources {
  height: 22px;
}

.affinities>td, .resources>td {
  width: 25% !important;
}